﻿<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" value="Tạo" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Quay lại</a>
    </div>
</div>
