﻿@model int

<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-danger form-control" asp-route-id="@Model" value="Xóa" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Quay lại</a>
    </div>
</div>