﻿@model int

<div class="row">
    <div class="col-6">
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-info form-control">Chỉnh sửa</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Quay lại</a>
    </div>
</div>

