﻿@model int  

<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" asp-route-id="@Model" value="Cập nhật" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Quay lại</a>
    </div>
</div>