﻿@model IEnumerable<MenuItem>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count() > 0)
{
    <div class="col-12 post @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) menu-restaurant">
        <div class="row">
            <h3 class="text-success"> @Model.FirstOrDefault().Category.Name </h3>
        </div>

        @foreach(var item in Model)
        {
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="@item.Image" width="99%" style="border-radius:5px;border:1px solid #bbb9b9" />
                        </a>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="row pr-3">
                            <div class="col-8">
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <label class="text-primary" style="font-size:21px;color:maroon">@item.Name</label>
                                </a>
                                @if (item.Spicyness == "1")
                                {
                                    <img srcset="/images/mild.png" title="Ít cay" />
                                }
                                @if (item.Spicyness == "2")
                                {
                                    <img srcset="/images/spicy.png" title="Cay" />
                                }
                                @if (item.Spicyness == "3")
                                {
                                    <img srcset="/images/veryspicy.png" title="Cay lắm" />
                                }
                            </div>
                            <div class="col-4 text-right" style="color:maroon">
                                <h4>@item.Price đ</h4>
                            </div>
                        </div>


                        <div class="row col-12 text-justify d-none d-md-block">
                            <p>@Html.Raw(item.Description)</p>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                            <a asp-action="Details" class="btn btn-success form-control" asp-route-id="@item.Id">Chi tiết</a>
                        </div>
                    </div>
                    </div>
                </div> 
        }
        <div class="p-4"></div>
    </div>
}