@model Spice.Models.ShoppingCart
@using Spice.Extensions
@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Chi tiết sản phẩm</h2>
<br />

<form method="post">
    <div class="border backgroundWhite row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 pb-4 d-md-none">
            <img src="@Model.MenuItem.Image" style="width: 100%;border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <span class="font-weight-bold">Tên sản phẩm</span>
                </div>
                <div class="col-md-8">
                    @Model.MenuItem.Name
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <span class="font-weight-bold">Mô tả</span>
                </div>
                <div class="col-md-8">
                    @Html.Raw(Model.MenuItem.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <span class="font-weight-bold">Giá</span>
                </div>
                <div class="col-md-8">
                    @Model.MenuItem.Price VNĐ
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <span class="font-weight-bold">Nhóm</span>
                </div>
                <div class="col-md-8">
                    @Model.MenuItem.Category.Name
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <span class="font-weight-bold">Danh mục</span>
                </div>
                <div class="col-md-8">
                    @Model.MenuItem.SubCategory.Name
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <span class="font-weight-bold">Mức độ cay</span>
                </div>
                <div class="col-md-8">
                    @if (Model.MenuItem.Spicyness == "1")
                    {
                        <span>Ít cay</span>
                    }
                    @if (Model.MenuItem.Spicyness == "2")
                    {
                        <span>Cay vừa</span>
                    }
                    @if (Model.MenuItem.Spicyness == "3")
                    {
                        <span>Siêu cay</span>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    Chọn số lượng
                </div>
                <div class="col-md-8">
                    <input asp-for="Count"  class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-success form-control">Quay lại danh sách</a>
                </div>
                <div class="col-md-4">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-1 d-none d-md-block">
            <img src="@Model.MenuItem.Image" style="width: 100%;border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
    </div>
    <input asp-for="MenuItemId" hidden />
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}