﻿@model Spice.Models.ViewModels.OrderDetailsViewModel
@{
    ViewData["Title"] = "Xác nhận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="backgroundWhite">
    <div class="row px-3">
        <div class="col-8">
            <h2 class="text-info">Xác nhận đơn hàng</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">Đơn hàng mới</a>
        </div>
    </div>

    @if(Model.OrderHeader !=null)
    {
        <div style="color:maroon" class="p-3">
            Đơn hàng của bạn đã được xác nhận! Hãy xem thông tin chi tiết bên dưới.
            <br />
            Hãy liên hệ với chúng tôi nếu bạn có bất kỳ thắc mắc gì.
        </div>
        <partial name="_IndividualOrderDetails" model="Model" />
    }
    else
    {
        <div class="text-danger">Có lỗi xảy ra, vui lòng thử lại...</div>
    }
</div>

