﻿@model List<Spice.Models.ViewModels.OrderDetailsViewModel>
@using Spice.Utility
@{
    ViewData["Title"] = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Quản lý đơn hàng</h2>
<form method="post">
    <br />
    @if (Model.Count > 0)
    {
        <div class="container row bg-white p-2 border mb-3 rounded">
            @foreach (var item in Model)
            {
                <div class="col-12 pb-3 pt-3">
                    <div class="backgroundWhiteBorder10Padding">
                        <div class="row">
                            <div class="col-lg-4 col-12">
                                Mã đơn hàng: @item.OrderHeader.Id
                                <ul class="text-info">
                                    @foreach (var details in item.OrderDetails)
                                    {
                                        <li>@details.Name x @details.Count</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-lg-4 col-12 pb-2">
                                <div class="input-group pb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Thời gian</span>
                                    </div>
                                    <input type="text" class="border rounded form-control" readonly value="@item.OrderHeader.PickUpTime" />
                                </div>
                                @{ 
                                    var comments = item.OrderHeader.Comments;
                                    if(comments==null || comments.Trim().Length ==0)
                                    {
                                        item.OrderHeader.Comments = "No Instructions";
                                    }
                                }
                                <textarea asp-for="@item.OrderHeader.Comments" readonly class="rounded border form-control" style="width:100%;height:75px;"></textarea>
                            </div>
                            <div class="col-lg-4 col-12 d-flex align-content-center">
                                @if (item.OrderHeader.Status.Equals(SD.StatusSubmitted))
                                {
                                    <div class="col-12">
                                        <button type="submit" asp-action="OrderPrepare" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-info form-control mb-3">
                                            <i class="fas fa-check"></i> &nbsp; Vận chuyển
                                        </button>
                                        <button type="submit" asp-action="OrderCancel" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-danger form-control mb-3">
                                            <i class="fas fa-times"></i> &nbsp; Hủy đơn
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    @if (item.OrderHeader.Status.Equals(SD.StatusInProcess))
                                    {
                                        <div class="col-12">
                                            <button type="submit" asp-action="OrderReady" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-success form-control mb-3">
                                                <i class="fas fa-flag-checkered"></i> &nbsp; Đã giao
                                            </button>
                                            <button type="submit" asp-action="OrderCancel" asp-route-OrderId="@item.OrderHeader.Id" class="btn btn-danger form-control mb-3">
                                                <i class="fas fa-times"></i> &nbsp; Hủy đơn
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</form>

