﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Truy cập hạn chế";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không có quyền truy cập vào đây.</p>
</header>
