﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Tài khoản bị khóa";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này đã bị khóa.</p>
</header>
