﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được thay đổi. <a asp-page="./Login">Nhấn vào đây để đăng nhập lại</a>.
</p>
