﻿@model Spice.Models.SubCategory

<br />
<h2 class="text-info">Chi tiết danh mục</h2>
<br />
<div class="backgroundWhite rounded">
    <fieldset disabled>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="custom-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Category.Name" class="custom-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Category.Name" class="form-control" />
            </div>
        </div>
    </fieldset>
    <br />
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DetailsAndBackToListButton" model="Model.Id" />
        </div>
    </div>
</div>
